.container-allCards {
  grid-column: 1/3;
  padding: 20px 10px;
  background: $black;

  &-title {
    margin-top: 8px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__allcards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  } 

  &__card {
    @include base_miniCard;
    display: flex;
    align-items: center;
    margin-bottom: 20px;


    &-img {
      @include base_miniCard_img;
      margin-right: 10px;
    }

    &-icon {
      @include base_card_icon;
    
      &--disabled {
        display: none;
      }
    }

    &-detail {
      display: flex;
      flex-direction: column;

      &-name {
        @include base_miniCard_name;
      }

      &-p {
        @include base_miniCard_p;
      }
    }
  }
}

@media (min-width: 760px) {
  .container-allCards {
    grid-column: 2/3;
    padding: 0px 30px 50px;
    overflow-y: auto;

    &-title {
      margin-top: 20px;
      font-size: 2.3rem;
    }

    &__allcards {
      margin-top: 20px;
      width: 100%;
      padding-top: 25px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(188px,1fr));
      grid-gap: 25px 15px;
    }

    &__card {
      @include base_card;
      margin-bottom: 0px;
      display: block;
    
      &-img {
        @include base_card_img;
      }

      &:hover &-icon--disabled {
        display: block;
      }
    }
  }
}