.container-cardsPlaylist {
  margin-top: 38px;

  &__title {
    font-size: 2.3rem;
    font-weight: bold;

    &-all {
      display: none;
    }
  }

  &__cards {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    // overflow-x:scroll;
    // scroll-snap-type: x mandatory;
  }

  &__card {
    margin-right: 18px;
    @include base_miniCard;

    &-img {
      @include base_miniCard_img;
    }

    // &:first-child {
    //   margin: 0px;
    // }

    &-icon {
      @include base_card_icon;
    
      &--disabled {
        display: none;
      }
    }

    &-name {
      @include base_miniCard_name;
    }

    &-p {
      @include base_miniCard_p;
    }
  }
}

@media (min-width: 760px) {
  .container-cardsPlaylist {

   &__title {
     display: flex;
     align-items: center;
     justify-content: space-between;

    &-p {
      font-size: 2.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &-all {
      display: block;
      font-size: 1.3rem;
      color: $text-color;

      &:hover {
        text-decoration: underline;
      }
    }
   }

   &__cards {
     height: 285px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(188px,1fr));
     grid-gap: 10px 28px;
     overflow: hidden;
   }

   &__card {
     @include base_card;

    &-img {
      @include base_card_img;
    }

    &:hover &-icon--disabled {
      display: block;
    }
   }
  }
}
