.container-cardsHistory {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 8px;
  row-gap: 8px;
  
  &__card {
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
    background: rgba(128,128,128, .3);
    // transition: all 0.3s ease;
    
    &-img {
      height: 65px;
      width: 62px;
    }

    &-p {
      padding-left: 9px;
    }

    &:hover {
      background-color: rgba(192,192,192, .3);
      
      // // capa oscura transparente
      // background-color: rgba(0,0,0,0.2);
      // filter:brightness(0.6);
    }
  }
}