.wrapper {
  background: linear-gradient(160deg, rgba(66,67,94,1), rgba(0,0,0,1) 50%);
}

@media (min-width: 760px) {
  .wrapper {
    background: $primary-black;
    display: grid;
    grid-template-columns: 224px 1fr;
  }
}