@import './Globals';
@import './Login';
@import './Home';
@import './Header';
@import './Time';
@import './Sidebar';
@import './Main';
@import './CardsPlaylistHeader';
@import './CardsPlaylist';
@import './AllCards';
@import './AllSongs';
@import './LibraryList';
@import './Library';
@import './Footer';
@import './Player';
@import './SongRow';
@import './Search';



@font-face {
  font-family: 'Spotify';
  src: url('../fonts/AvenirLTStd-Roman.otf');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Spotify';
//   src: url('../fonts/CircularStd-Book.otf');
//   font-weight: 700;
//   font-style: bold;
// }